@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao Projeto-X</h1>
    <p>Siga-no instagram postamos novidades toda semana <a href="https://instagram.com/projeto_xgames?igshid=NzZlODBkYWE4Ng%3D%3D&utm_source=qr"><img src="~/imagens/insta-removebg-preview (1).png" class="insta" /> </></a></p>
</div>
