@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao Projeto-X</h1>
    <p>Siga-no instagram <a href="https://docs.microsoft.com/aspnet/core"> postamos novidades toda semana</a>.</p>
</div>
