@model ProjetoGame.Models.Cadastro

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Cadastro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CadastroNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CadastroNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CadastroName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CadastroName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="botao" asp-route-id="@Model?.CadastroId">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
