@model ProjetoGame.Models.Cadastro

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Cadastro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CadastroId" />
            <div class="form-group">
                <label asp-for="CadastroNome" class="control-label"></label>
                <input asp-for="CadastroNome" class="form-control" />
                <span asp-validation-for="CadastroNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CadastroName" class="control-label"></label>
                <input asp-for="CadastroName" class="form-control" />
                <span asp-validation-for="CadastroName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="botao" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
