html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}
.table {
    color: white;
}
a {
    color: white;
    text-decoration: none;

}
p{
    color:white
}
.botao {
    margin-top: 20px;
    margin-bottom: 10px;
    border: solid;
    Border-color: #F55207;
    background-color: #F55207;
    border-radius: 5px;
    align-items: center;
    color: white;
}

.pesquisa {
    background-color: #F55207;
    color: white;
    border-color: #F55207;
    border-radius:5px;
}
.display-4{
    color:white;

}

body {
    margin-bottom: 60px;
    background-color: black !important;
    color: white;
}
header {
    width: 100%;
    height: 100%;
    background-color: black;
}
.img-logo {
    width:150px;
    height:115px;
}
.insta {
    width: 50px;
    height: 35px;
}
.nav-item {
    padding-left: 10px;
    padding-right: 10px;
}
.carousel-inner {
    margin-left: 26%;
}
.img-estrela1{
    width:40px;
    height:60px;
}
.img-estrela2 {
    width: 70px;
    height: 60px;
}
.img-estrela3 {
    width: 100px;
    height: 60px;
}
.img-estrela4 {
    width: 120px;
    height: 65px;
}
.img-estrela5 {
    width: 140px;
    height: 70px;
}
td {
    text-align: center; /* alinhamento horizontal */
    vertical-align: middle; /* alinhamento vertical */
}
tr {
    text-align: center; /* alinhamento horizontal */
    vertical-align: middle; /* alinhamento vertical */
}