.item-submenu:hover .submenu {
    display: block;
}
.submenu {
    display: none;
    width: 210px;
    height: 150px;
    background-color: black;
    position: absolute;
    top: 3.2rem;
    left: 7rem;
    padding: 1rem 1.2rem;
    box-sizing: border-box;
    text-align: left;
    font-family: sans-serif;
    margin-left: 80%;
    margin-top: 3%;
    list-style: none;
    webkit-box-shadow: 5px 5px 37px 17px #000000;
    box-shadow: 5px 5px 37px 17px #000000;
}
.submenu > li {
    margin: 1rem 0;
    list-style-type: none;
}
.submenu > li a {
     color: white;
     text-decoration: none;
     list-style: none;
}
.item-submenu {
    list-style: none;
    text-decoration: none;
}
.icon {
    font-size: 45px;
    margin-right: 50px;
}
